<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%-
        '<style>'
        + include("./style.css")
        + '</style>'
    %>
</head>
<body>
    <div class="container">
        <div class="form_area">
            <p class="title">LOG IN</p>
            <form action="/login" method="POST">
                <div class="form_group">
                    <% if(email_error) { %>
                        <span style="color: red;">Please input correct email</span>
                    <% } %>
                    <label class="sub_title" for="name">Name</label>
                    <input name="email" placeholder="Enter your full name" class="form_style" type="email">
                </div>
                <div class="form_group">
                    <% if(password_error) { %>
                        <span style="color: red;">Please input correct password</span>
                    <% } %>
                    <label class="sub_title" for="password">Password</label>
                    <input name="password" placeholder="Enter your password" id="password" class="form_style" type="password">
                </div>
                <div>
                    <button class="btn">LOGIN</button>
                    <p>Don't have an Account? <a class="link" href="/">Sign up Here!</a></p>
                </div>
            
        </form></div>
    </div>
</body>
</html>